body{
    font-family: 'Advent Pro', sans-serif;
    font-size: 2vw;
}

.col {
    display: flex!important;
    justify-content: center;
    align-items: center;
    margin: 2% 0;
}

.desc {
    justify-content: left;
}

.hanifah {
    width: 50%;
    height: auto;
}

.uin {
    width: 40%;
    height: auto;
}

.delapanLima {
    width: 40%;
    height: auto;
}

.enamEnam {
    width: 50%;
    height: auto;
}

.fasilkom {
    width: 50%;
    height: auto;
}

.col a {
    color: black;
}

.navbarBawah {
    font-size: 2vw;
    color: black;
}